<%= turbo_frame_tag "citizens" do %>
  <% if @citizens.blank? %>
    <%= render("shared/alerts/warning", message: t(".not_found")) %>
  <% else %>
    <table class="table table-sm table-hover table-bordered rounded-5">
      <thead class="table-light">
        <tr>
          <th scope="col"><%= ta(Citizen, :photo) %></th>
          <th scope="col"><%= ta(Citizen, :name) %></th>
          <th scope="col"><%= ta(Citizen, :email) %></th>
          <th scope="col"><%= ta(Citizen, :cpf) %></th>
          <th scope="col"><%= ta(Citizen, :cns) %></th>
          <th scope="col"><%= ta(Citizen, :enabled) %></th>
          <th width="70"></th>
        </tr>
      </thead>
      <tbody data-controller="citizens">
        <% @citizens.each do |citizen| %>
          <tr id="<%= dom_id(citizen) %>">
            <td class="text-center">
              <% if citizen.photo.present? %>
                <%= image_tag(citizen.photo.thumb.url, class: "rounded") %>
              <% end %>
            </td>
            <td><%= citizen.name %></td>
            <td><%= citizen.email %></td>
            <td><%= citizen.cpf %></td>
            <td><%= citizen.cns %></td>
            <td class="text-center">
              <div class="form-check form-switch">
                <%= check_box_tag(:enabled, citizen.id, citizen.enabled?,
                                  data: { action: "change->citizens#toggleStatus" },
                                  class: "form-check-input") %>
              </div>
            </td>
            <td class="text-center">
              <%= render("shared/link_to/edit", record: citizen) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= render("shared/pagination/links", collection: @citizens) %>
  <% end %>
<% end %>
